html {
    margin: 0;
}
body {
    font-size: 16px;
    width: 100%;
    display: flex;
    margin: 0;
    background-color: #762e2e;
}
.header {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    padding: 30px;
    color: white;
}
  
h1 {
    font-size: 2.75rem;
    font-weight: bolder;
    text-align: center;
    border-radius: 50px;
    background: #762e2e;
    box-shadow:  20px 20px 33px #642727,
                -20px -20px 33px #883535;
}
.buttons {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5em;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 50px;
    background: #762e2e;
    box-shadow:  20px 20px 33px #642727,
                -20px -20px 33px #883535;
} 
.left {
    margin: auto;
    padding: 30px;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 555px;
    height:555px;
    margin: 0 auto;
    border-radius: 5px;
    background: whitesmoke;
    box-shadow: -33px -33px 76px #501f1f,
                33px 33px 76px #9c3d3d;
}
.btn {
    border: none;
    padding: 0.5em;
    font-size: 2.75rem;
    cursor: pointer;
    color: whitesmoke;
    border-radius: 17px;
    background: #762e2e;
    box-shadow: inset 16px 16px 31px #642727,
                inset -16px -16px 31px #883535;
    transition: 0.4ms;
}
.btn:hover {
    color: #883535;
    background-color: whitesmoke;
}
.btn:active {
    transform: translateY(3px);
}
button > * {
    pointer-events: none;
}
#colorpicker, #myRange {
    cursor: pointer;
}
  